.inner {
    width: 1200px;
    margin: 0 auto;
}

.topBanner {
    position: relative;
    background: #ddd;
    margin: 0 0 100px 0;

}

.topBanner .inner {
    padding: 50px 0;
    height: 0;
    overflow: hidden;
    transform: 0.5s;
}

.topBanner.on .inner {
    height: 0;
    padding: 0 0;

}

.topBanner i {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0 0 0 600px;
    transform: translate(-100%, 100%);
    padding: 10px;
    background: #f9f9f9;
    font-size: 30px;
}

.topBanner.on i {
    transform: translate(-100%, 100%) rotate(180deg);
}


.topBanner2 {
    position: relative;
    background: #f9f9f9;

}

.topBanner2 .inner {
    padding: 50px 0;
}

.topBanner2 i {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0 0 0 600px;
    transform: translate(-100%, 100%);
    padding: 10px;
    background: #f9f9f9;
    font-size: 30px;
}

.bottomBanner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ddd;
}

.bottomBanner .inner {
    display: none;
}

.bottomBanner i {
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 600px;
    transform: translate(-100%, -100%);
    padding: 10px;
    background: #f9f9f9;
    font-size: 30px;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    background: pink;
}

.popup button {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

