.header .topBanner {    
    position: relative;
    background: #f9f9f9;
    padding: 50px 0;
    transition: padding 0.5s;
}

.header .topBanner.on {
    height: 0;
    padding: 0 0;
    overflow: hidden;
}

.header .inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.header .topBanner h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.header .topBanner i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;   
}

.header .topBanner a {
    margin: 0 0 0 15px;
    padding: 3px 20px 5px 20px;
    border: 1px solid #ddd;
    text-transform: uppercase;
    /* 소문자를 대문자로 바꾸는 */
    font-size: 12px;
    vertical-align: 2px;
}